<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/bundle.js"></script>
  </head>
  <body ng-app='someApp'>
<input type="text"> <button>Add todo</button> 

<input type="text">
<button>Date</button> 

<table class="table">
  <thead>
    <tr>
 
      <th>Itemtodo</th>
      <th>Date</th>
      <th>complete</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in list" ng-if='list.length'>
      <td>Workout</td>
      <td>3/2/2016</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>
  
    <ui-view></ui-view>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
  </body>
</html>
